/* MAP */
g.departamentos path {
	stroke: #DDD;
	stroke-width: 1px;
	fill: #DDD;
}

g.provincias path {
	stroke: steelblue;
	fill: none;
	stroke-width: 1px;
	stroke-linejoin: round;
}

g.departamentos path.selected {
	fill:steelblue;
	stroke:steelblue;
}

/* SLIDER */
#slider{
	display: none;
}

.slider.slider-vertical {
	height: 700px;
}

.slider-selection {
	background-color: steelblue;
	background-image: none;
}

.slider-handle {
	width: 30px;
	height: 30px;
}

.slider.slider-vertical .slider-handle {
	margin-left: -10px;
	margin-top: -15px;
}


/* MAIN */
#main-container{
	min-height: 700px;
}

#main-container .col-lg-1{
	margin: 20px 0px;
}

.footer {
	border-top: 1px solid #DDD;
	margin-top: 30px;
	padding-top: 29px;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
}
